# Files ignored by git

.Rproj.user
bGWAS.Rproj
.Rhistory
.RData
.Ruserdata
.DS_Store
inst/doc

# Cache & Data for lifespan analysis
doc/Lifespan_Analysis_cache/
doc/lifegen_phase2_bothpl_alldr_2017_09_18.tsv.gz
